.container {
    display: flex;
    justify-content: space-between;
    width: 956px;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
}